@model PerFinanc.Web.Models.LancamentoContaFixa

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

@if (TempData["Mensagem"] != null)
{
    <script>
        Swal.fire("Sucesso!", "@TempData["Mensagem"]", "success");
    </script>
}

<div class="container mt-4">

    <div class="mb-3 text-center">
        <h1 class="h3 text-white mb-0">Excluir Conta Fixa</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8">

            <div class="card bg-dark border-danger mb-3">
                <div class="card-body text-white">

                    <p class="mb-3 fw-bold text-danger text-center">
                        Tem certeza que deseja excluir gasto geral?
                    </p>

                    <dl class="row mb-0">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ContaFixa)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ContaFixa.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Ano)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Ano)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Mes)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Mes)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ValorPrevisto)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ValorPrevisto)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ValorPago)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ValorPago)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataPagamento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataPagamento)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Observacao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Observacao)
                        </dd>
                    </dl>                    
                </div>
            </div>
            <form asp-action="Delete" class="d-flex justify-content-between">
                <input type="hidden" asp-for="Id" />

                <a asp-action="Index" class="btn btn-outline-light">Voltar</a>
                <button type="submit" value="Delete" class="btn btn-danger">Excluir</button>                
            </form>
        </div>
    </div>
</div>

