@model PerFinanc.Web.Models.LancamentoContaFixa

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout";
}

<div class="container mt-4">

    <div class="mb-3 text-center">
        <h1 class="h3 text-white mb-0">Detalhes da Conta Fixa</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card bg-dark border-secondary mb-3">
                <div class="card-body">

                    <dl class="row mb-0 text-white">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.ContaFixa)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.ContaFixa.Nome)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Ano)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Ano)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Mes)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Mes)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.ValorPrevisto)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.ValorPrevisto)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.ValorPago)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.ValorPago)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.DataPagamento)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.DataPagamento)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Observacao)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Observacao)
                        </dd>
                    </dl>
                </div>
                <div class="d-flex justify-content-between px-4 mb-3">
                    <a asp-action="Index" class="btn btn-outline-light">Voltar</a>
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>
