@model IEnumerable<PerFinanc.Web.Models.Freelance>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@if (TempData["Mensagem"] != null)
{
    <script>
        Swal.fire("Sucesso!", "@TempData["Mensagem"]", "sucess");
    </script>
}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h3 text-white mb-0">Freelancer e Outros</h1>

        <a asp-action="Create" class="btn btn-primary btn-sm">
            + Nova entrada freelancer
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover table-sm mb-0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataRecebimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ano)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mes)
                    </th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRecebimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mes)
                        </td>
                        <td class="text-end">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>